
.container{
    text-align: center;
    /* background-image: url("./Assets/snakeImage.png");
    background-repeat: no-repeat;
    background-position-x: right; */
}

#mycanvas{
    background-image: url("./Assets/bg2.jpg");
    border: 10px solid green;
}
